@font-face {
  font-family: 'Niramit Bold';
  src: url('/fonts/Niramit-Bold.tff') format('tff');
  font-weight: Bold;
}

@font-face {
  font-family: 'Niramit SemiBold';
  src: url('/fonts/Niramit-SemiBold.tff') format('tff');
  font-weight: SemiBold;
}

@font-face {
  font-family: 'Niramit Regular';
  src: url('/fonts/Niramit-Regular.tff') format('tff');
  font-weight: Regular;
}
