@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animation';
@import './fonts';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Niramit', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  margin-top: 4rem;
}

.hero-bg {
  min-height: calc(100vh - 120px);
}
.about-us-bg {
  background-image: url('/images/about-right-dec.jpg');
  height: 60vh;
}

.ecosystem {
  min-height: calc(100vh - 220px);
}

.hft-bg {
  background-image: url('/images/slider-right-dec.jpeg');
  min-height: 40vh;
}

footer {
  background-image: url('/images/roadmap-bg.svg');
  min-height: 20vh;
}
